@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@model CodingEventsDemo.ViewModels.AddEventCategoryViewModel;



    <h1>Add Event Category</h1>

    <p>
        <a asp-controller="EventCategory" asp-action="Create">Create Event Category</a>
    </p>

    <form asp-controller="EventCategory" asp-action="Create" method="post">
        <div class="form-group">
            <label asp-for="Name">Event Category</label>
            <input asp-for="Name" />
            <span asp-validation-for="Name"></span>
        </div>

        <input type="submit" value="Add Event Category" />
    </form>