@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<CodingEventsDemo.Models.EventCategory>

<h1>Event Category</h1>

<p>
    <a asp-controller="EventCategory" asp-action="Create">Create Event Category</a>
</p>

<table class="table">
    <tr>
        <th>
            Event Id
        </th>
        <th>
            Event Name
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
        </tr>
    }
</table>